dotfiles/emacs.d/session*
dotfiles/emacs.d/elpa
dotfiles/emacs.d/el-get
dotfiles/emacs.d/tramp
dotfiles/emacs.d/url
dotfiles/emacs.d/ac-dict
dotfiles/emacs.d/ac-comphist.dat
dotfiles/emacs.d/rsense
dotfiles/emacs.d/yasnippet
dotfiles/maid/maid.log
test/test-results
test/trash_directory*
